<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/auth.css">
    <title>Sign In</title>
</head>

<body>
    <div class="container">
        <div class="form">
            <div class="form-img">
                <img src="/images/login.svg" alt="">
            </div>
            <div class="form-text">
                <form action="/auth/sign-in" method="POST" class="form-group">
                    <h1>Welcome Back</h1>
                    <% if(messages) {%>
                        <p>
                            <%=messages.error %>
                        </p>
                        <% } %>
                            <input type="email" name="email" placeholder="Email" autocomplete="off">
                            <input type="password" name="password" placeholder="Password" autocomplete="off">
                            <button>Sign In</button>
                </form>
                <a href="/auth/sign-up" class="login">Create an account</a>
            </div>
        </div>

    </div>
</body>

</html>
