<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/partial.css">
    <title>Sign In</title>
</head>

<body>
    <div class="container">
        <div class="form">
            <form action="/auth/sign-in" method="POST" class="form-group">
                <h1>Welcome Back</h1>
                <% if(messages) {%>
                    <p>
                        <%=messages.error %>
                    </p>
                    <% } %>
                        <input type="email" name="email" placeholder="Email">
                        <input type="password" name="password" placeholder="Password">
                        <button>Sign In</button>
                        <a href="/auth/sign-up">Create an account</a>
            </form>
        </div>

    </div>
</body>

</html>
