<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/auth.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="container">
        <div class="form">
            <div class="form-img">
                <img src="/images/register.svg" alt="">
            </div>
            <div class="form-text">
                <form action="/auth/sign-up" method="POST" class="form-group">
                    <h1>Sign Up</h1>
                    <input type="text" name="username" placeholder="Username" autocomplete="off">
                    <input type="email" name="email" placeholder="Email" autocomplete="off">
                    <input type="password" name="password" placeholder="Password" autocomplete="off">
                    <button type="submit">Sign Up</button>
                </form>
                <a href="/auth/sign-in" class="login">already have an account?</a>
            </div>
        </div>
    </div>
</body>

</html>
