<div class="hero">
    <div class="hero-text">
        <div class="hero-title">
            <h1>Develop your skills</h1>
        </div>
        <div class="hero-subtitle">
            <h3>Learn more about programming language</h3>
        </div>
        <div class="hero-button">
            <a href="/course">Start learning</a>
            <a href="/faq">Learn more</a>
        </div>
        <div class="footer">
            <p>Improve your insights with data science. Explore popular courses.</p>
        </div>
    </div>
    <div class="hero-image"></div>
</div>
