<div class="info">
    <div class="info-text">
        <h3>What will you learn next? </h3>
        <p>Develop a data-driven mindset with our top web development courses.</p>
    </div>
    <div class="info-button">
        <button id="close" onclick="myClose()">&times;</button>
    </div>
</div>
