<% layout('layout/layout') %>
    <div class="container">
        <h1 style="text-align: center; margin-bottom: 20px;">About Us</h1>
        <div class="subtitle">
            <p>Ini yang bikin websitenya</p>
        </div>
        <div class="about-wrapper">
            <div class="about-card">
                <a target="_blank" href="https://github.com/dap23">
                    <img src="https://github.com/dap23.png" alt="">
                </a>
            </div>
            <div class="about-card">
                <a target="_blank" href="https://github.com/adeirvan123">
                    <img src="https://github.com/adeirvan123.png" alt="">
                </a>
            </div>
        </div>
        <div class="about-text">
            <h3>Project sinau dibuat untuk sinau</h3>
        </div>
    </div>
