<% layout('./layout/layout') %>
    <div class="container">
        <div class="card course">
            <img src="<%= c.image %> " alt="">
            <div class="title">
                <h1>
                    <%= c.name %> Crash Course
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="slider">
            <div class="video">
                <iframe src="https://www.youtube.com/embed/UB1O30fR-EE" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/kMT54MPz9oE" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/mJgBOIoGihA" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/kUMe1FH4CHE" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>
