<% layout('./layout/layout') %>
    <div class="container">
        <h1>Course</h1>
        <div class="wrapper">
            <% for(let course of courses) {%>
                <a href="/course/<%= course.id %>">
                    <div class="card">
                        <img src="<%= course.image %> " alt="">
                        <div class="text">
                            <h3>
                                <%= course.name %>
                            </h3>
                            <p>
                                <%= course.desc %>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </div>
