* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: azure;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form {
  border: 1px solid;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  padding: 1em;
}

.form a {
  text-decoration: none;
  color: #000;
}

.form {
  text-align: center;
}

.form .login {
  display: block;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.form-group h1 {
  font-size: 24px;
  font-weight: 500;
  font-family: serif;
}

.form-group input {
  border: none;
  width: 80%;
  outline: none;
  padding-left: 10px;
  padding: 10px 10px;
  border-bottom: 1px solid;
  font-size: 16px;
  font-family: serif;
}

.form-group input:focus {
  background: transparent;
}

.form-group input:valid {
  background: transparent;
}

.form-group input::placeholder {
  font-size: 16px;
}

.form-group button {
  margin-top: 30px;
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}
