<header>
    <h1>Admin</h1>
    <div class="menu">
        <a href="#">Home</a>
        <a href="#">Course</a>
        <a href="#">About</a>
    </div>
    <div class="auth">
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
    </div>

</header>
