<header>
    <h1>Sinauu</h1>
    <div class="menu">
        <a href="/">Home</a>
        <a href="/course">Course</a>
        <a href="/about">About</a>
    </div>
    <div class="auth">
        <% if (!session.user&&!user) {%>
            <a href="/auth/sign-up">Sign Up</a>
            <a href="/auth/sign-in">Sign In</a>
            <% } else { %>
                <span style="font-size: 20px; margin-right: 20px;">Hi, <%= user.username %> </span>
                <a href="/auth/sign-out">Sign Out</a>
                <% } %>
    </div>

</header>
