<% layout('layout/layout') %>
    <div class="container">
        <h1 class="about-title">About Us</h1>
        <div class="about">
            <div class="author">
                <a href="https://github.com/dap23" target="_blank">
                    <img src="https://github.com/dap23.png" alt="">
                    <h3>Daffa</h3>
                </a>
            </div>
            <div class="author">
                <a href="https://github.com/adeirvan123" target="_blank">
                    <img src="https://github.com/adeirvan123.png" alt="">
                    <h3>Ade</h3>
                </a>
            </div>
        </div>
    </div>
